.navigation{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}

.navigation li{
    line-height: 80px;
    flex: 1;
}

.navigation li:nth-child(1){
    flex: 3;
    line-height: 0;
}

.navigation li:nth-child(1) svg{
    height: 80px;
}

.navigation li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
}

.navigation li a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    transition: all 0.3s;
}

.navigation li a:hover::after{
    width: 100%;
}

/* Logo */
#manoj{
    stroke-dasharray: 570;
    stroke-dashoffset: 570;
    animation: draw 4s linear 1 1s forwards;
}

#avhale{
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    animation: draw 4s linear 1 4s forwards;
}

@keyframes draw{
    to{
        stroke-dashoffset: 0;
        fill: url("#linear-gradient");
        stroke-width: 0;
    }
}

