@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit&display=swap');

:root{
  --primary-color: #ff8901;
  --secondary-color: #e52e71;
}

.row{
  display: flex;
}

html{
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-track{
  background: #000;
  box-shadow: inset 0px 0px 15px #ccc;
}

html::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  border-radius: 5px;
}

html::-webkit-scrollbar-corner{
  background: #ccc;
  border-radius: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: black;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
  color: #fff;
}